<div class="new-body">
  <div class="container">
    <div class="columns-center">
      <div class="box">
        <div class="field text-center">
          <strong>新規ユーザ登録</strong>
        </div>
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :氏名, class: "label" %>
            <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name", class: "input" %>
          </div>
          <div class="field">
            <%= f.label :メールアドレス, class: "label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          </div>
          <div class="field">
            <%= f.label :パスワード, class: "label" %>
            <% if @minimum_password_length %>
            <strong>(<%= @minimum_password_length %> 文字以上)</strong>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
          </div>
          <div class="field">
            <%= f.label :確認, class: "label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
          </div>
          <div class="field-button">
            <%= f.submit "登録する", class: "button is-primary is-rounded is-fullwidth mt-6" %>
          </div>
        <% end %>
        <%= link_to "Go Airportとは", page_path('airports'), class: "button is-info is-light is-fullwidth mt-3" %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
