<section class="section">
  <h2>プロフィール</h2>
  <div class="container">
    <div class="columns">
      <!-- 左パネル -->
      <div class="column">
        <div class="columns is-multiline">
          <!-- 上部 -->
          <div class="column is-full">
            <div class="card">
              <!-- 画像 -->
              <div class="card-content is-horizontal-center is-flex">
                <figure class="image is-256x256 m-auto">
                  <%= image_tag avatar_url(current_user)%>
                </figure>
              </div>
              <div class="card-content">
                <!-- 画像アップロードボタン -->
                <div class="content has-text-centered">
                  <p class="title is-5">
                    <%= current_user.full_name %>
                  </p>
                  <%= form_with model: @user, url: users_edit_url(@user), action: :update, method: :post, local: true do |f| %>
                    <div class="file">
                      <label :avatar, class="button is-info is-light is-fullwidth">
                        <%= f.file_field :avatar, class: "file-input", onchange: "this.form.submit();" %>
                          <i class="fas fa-upload"></i>&nbsp;&nbsp;&nbsp; 画像アップロード
                      </label>
                    </div>
                  <% end %>
                </div>
                <hr class="h-10">
                <!-- アカウント情報 -->
                <article class="media">
                  <div class="media-content">アカウント登録日</div>
                  <div class="media-right">
                    <strong><%= I18n.l(current_user.created_at, format: :full_date) %></strong>
                  </div>
                </article>
                <hr class="h-10">
                <!-- オンラインステータス -->
                <article>
                  <div class="media">
                    <div class="media-content">ステータス</div>
                    <div class="media-right">
                      <strong><% if current_user.status %> オンライン <% else %> オフライン <% end %></strong> <i class="toggle fas fa-globe" aria-controls="user-status"></i>
                    </div>
                  </div>
                  <div class="content">
                    <%= form_with model: @user, url: users_edit_url(@user), action: :update, method: :post, html: {id: 'user-status', class: 'is-hidden'}, local: true do |f| %>
                      <div class="field">
                        <%= f.select(:status, options_for_select([["オンライン", true], ["オフライン", false]]), {}, {class: "select is-fullwidth"}) %>
                      </div>
                      <a class="toggle button is-danger is-outlined" aria-controls="user-status">キャンセル</a>
                      <%= f.submit "保存", class: "button is-success" %>
                    <% end %>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <!-- 下部 -->
          <div class="column is-full">
            <div class="card">
              <div class="card-content">
                <!-- アカウント詳細 -->
                <article>
                  <div class="media">
                    <div class="media-content">
                      <p>
                        <strong>自己紹介</strong>
                        <br>
                        <%= current_user.about %>
                      </p>
                    </div>
                    <div class="media-right">
                      <i class="toggle far fa-edit" aria-controls="user-about"></i>
                    </div>
                  </div>
                  <div class="content">
                    <%= form_with model: @user, url: users_edit_url(@user), action: :update, method: :post, html: {id: 'user-about', class: 'is-hidden'}, local: true do |f| %>
                      <div class="field">
                        <%= f.text_area :about, autofocus: true, autocomplete: 'form', class: 'input'%>
                      </div>
                      <a class="toggle button is-danger is-outlined" aria-controls="user-about">キャンセル</a>
                      <%= f.submit "保存", class: "button is-success" %>
                    <% end %>
                  </div>
                </article>
                <hr class="h-10">
              </div>
            </div>
          </div>
        </div>
      </div>                            
    </div>
  </div>
</section>
