<section class="section">
  <h2>全投稿一覧</h2>
  <%= link_to '新着順', posts_allindex_path(latest: "true"), class: "mb-3"%>
  <%= link_to '古い順', posts_allindex_path(old: "true"), class: "ml-3 mb-3" %>
  <table class="table">
    <thead class="post-index">
      <th>投稿者</th>
      <th>画像</th>
      <th>空港名</th>
      <th>都道府県</th>
      <th>市名</th>
      <th>コメント</th>
    </thead>
    <tbody class="post-info">
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= link_to user_path(post.user), class:"user" do %>
              <figure class="image is-48x48 mb-3">
                <%= image_tag avatar_url(post.user), class: "is-rounded" %>
              </figure>
              <%= post.user.full_name %>
            <% end %>
          </td>
          <td><%= image_tag post.image[0] %></td>
          <td><%= post.airport_name %></td>
          <td><%= post.prefecture %></td>
          <td><%= post.city %></td>
          <td><%= post.impression %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to  "トップページに戻る", root_path, class: "button is-info is-light is-fullwidth mt-6 mb-6" %>
</section>
