<section class="section">
  <h2>自分の投稿一覧</h2>
  <table class="table">
    <thead class="post-index">
      <th>画像</th>
      <th>空港名</th>
      <th>都道府県</th>
      <th>市名</th>
      <th>コメント</th>
      <th>編集</th>
      <th>削除</th>
    </thead>
    <tbody class="post-info">
      <% @posts.each do |post| %>
        <tr>
          <td><%= image_tag post.image[0] %></td>
          <td><%= post.airport_name %></td>
          <td><%= post.prefecture %></td>
          <td><%= post.city %></td>
          <td><%= post.impression %></td>
          <td><%= link_to "編集", edit_post_path(post) %></td>
          <td><%= link_to "削除", post_path(post), method: :delete %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to  "トップページに戻る", root_path, class: "button is-info is-light is-fullwidth mt-6 mb-6" %>
</section>
