<div class="map-search"><h1>空港を探す</h1></div>

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 100%;
  margin-top: 30px;
}
</style>

<script>
    let map;
    let marker = [];
    let infoWindow = [];
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center:{lat: 35.68123620000001, lng:139.7671248},
                zoom: 5,
            });
            <% @posts.each do |post| %>
                <% results = Geocoder.search(post.airport_name) %>
                <% if results.present? %>
                    <% @latlng = results.first.coordinates %>
                    (function() {
                        let marker = new google.maps.Marker({
                            position:{lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
                            map: map
                        });
                        let infowindow = new google.maps.InfoWindow({
                            position:{lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
                            content:"<a href='<%= posts_search_path %>'' target='_blank'><%= post.airport_name %></a>"
                        })
                        marker.addListener('click', function() {
                          infowindow.open(map, marker);
                        });
                    })();
                <% end %>
            <% end %>
        }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>
