<!DOCTYPE html>
<html>
  <head>
    <title>Airport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ナビゲーション -->
    <%= render  "shared/navbar" %>

    <!-- フラッシュメッセージ -->
    <%= render 'shared/flash' %>

    <%= yield %>

    <%= render  "shared/footer" %>

    <script>
      $(document).ready(() => {
        $('.toggle').on('click', (e) => {
          e.stopPropagation();
          e.preventDefault();
          $('#' + e.target.getAttribute('aria-controls')).toggleClass('is-hidden');
        })
      })
    </script>
    
  </body>
</html>
